In [1]:
import numpy as np
import pandas as pd
from time import time
from collections import Counter
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [6]:
data_dir = '/home/flowcast/data/python/data_validate_180315/'

data = pd.DataFrame()
products = ['BATB', 'BDBR', 'ECIF', 'ECPR', 'IFNB', 'IFNS', 'LBDS', 'LRRP', 'PSHP', 'TRDS', 'RSRV']
print(len(data))
for product in products:
    print(product)
    filename = data_dir + 'data_3NF_180316_'+ product + '.csv'
    sub_file = pd.read_csv(filename)
    sub_file['product_'] = product
    data = data.append(sub_file, ignore_index=True)
    print(len(data))

print(data.columns)
data.describe()

0
BATB
211
BDBR
3544
ECIF
3726
ECPR
3729
IFNB
402566
IFNS
432191
LBDS
436121
LRRP
437990
PSHP
442972
TRDS
452863
RSRV

/data/flowcast/data/software/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2703596
Index([u'Unnamed: 0', u'cty_code', u'doc_id', u'supplier_id', u'buyer_id',
       u'doc_type_code', u'deal_id', u'fin_flag', u'rec_id', u'doc_date',
       u'doc_ccy_code', u'doc_ccy_amt', u'tenor', u'tenor_start_date',
       u'due_date', u'grace_period', u'maturity_date', u'fin_tenor_start_date',
       u'fin_tenor', u'to_seq_no', u'from_seq_no', u'pymt_ccy_code',
       u'pymt_alloc_amt', u'fin_ccy_code', u'fin_ccy_cp_alloc_amt',
       u'fin_ccy_ncp_alloc_amt', u'fin_ccy_ncp_os_amt', u'fin_ccy_cp_os_amt',
       u'fin_ccy_amt', u'os_ccy_amt', u'fin_date', u'sale_ledger_flag',
       u'pool_based_flag', u'step_code', u'product_variant_code',
       u'rel_seq_no', u'pymt_date', u'settled_flag', u'late_days',
       u'finance_days', u'finance_due_days', u'isLate', u'late_days_bucket',
       u'fin_xrate', u'pymt_xrate', u'doc_xrate', u'doc_usd_amt',
       u'fin_usd_amt', u'os_usd_amt', u'pymt_usd_amt', u'dr', u'dr_bucket',
       u'product_'],
      dtype='object')

,Unnamed: 0,supplier_id,buyer_id,doc_ccy_amt,tenor,grace_period,fin_tenor,to_seq_no,from_seq_no,pymt_alloc_amt,...,late_days_bucket,fin_xrate,pymt_xrate,doc_xrate,doc_usd_amt,fin_usd_amt,os_usd_amt,pymt_usd_amt,dr,dr_bucket
count,2.703596e+06,2.703596e+06,2.703596e+06,2.703596e+06,2.703596e+06,2.703596e+06,2.702687e+06,2.703588e+06,2.703596e+06,2.703596e+06,...,2.703596e+06,2.703591e+06,2.703591e+06,2.703575e+06,2.703575e+06,2.703591e+06,2.703591e+06,2.703591e+06,2.703596e+06,2.703596e+06
mean,9.664735e+05,1.002033e+08,1.001881e+08,5.194816e+06,6.673819e+01,8.263395e+00,7.905328e+01,3.389296e+03,2.941187e+03,5.152562e+06,...,5.284503e-01,4.535902e-01,4.562367e-01,4.562922e-01,5.241724e+04,4.804906e+04,7.759556e-02,4.735708e+04,1.423841e-02,3.451858e-01
std,6.924677e+05,1.209873e+05,1.178100e+05,4.987166e+07,1.019795e+02,2.270172e+01,1.018121e+02,8.632392e+03,8.352760e+03,4.940496e+07,...,5.453973e-01,4.808784e-01,4.811110e-01,4.811696e-01,1.247459e+06,1.210316e+06,1.962433e+02,1.209529e+06,7.981454e-02,5.556381e-01
min,0.000000e+00,1.000000e+08,1.000000e+08,1.000000e-02,-3.340000e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,...,0.000000e+00,4.778696e-05,4.778696e-05,4.785455e-05,1.569763e-04,0.000000e+00,-8.370315e+03,1.485717e-04,0.000000e+00,0.000000e+00
25%,3.109360e+05,1.001133e+08,1.000383e+08,8.832000e+02,3.000000e+01,0.000000e+00,5.100000e+01,1.220000e+02,1.200000e+01,8.589600e+02,...,0.000000e+00,2.793935e-02,2.802330e-02,2.802330e-02,3.097638e+02,3.079200e+02,0.000000e+00,3.073000e+02,0.000000e+00,0.000000e+00
50%,8.989375e+05,1.002277e+08,1.001983e+08,1.786997e+04,6.000000e+01,0.000000e+00,7.500000e+01,1.386000e+03,1.006000e+03,1.754881e+04,...,1.000000e+00,1.226272e-01,1.315933e-01,1.370687e-01,1.085834e+03,1.069308e+03,0.000000e+00,1.072673e+03,0.000000e+00,0.000000e+00
75%,1.574836e+06,1.003069e+08,1.003068e+08,1.503622e+05,9.000000e+01,1.000000e+00,9.100000e+01,3.897000e+03,3.243000e+03,1.477583e+05,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.444720e+03,6.224019e+03,0.000000e+00,6.311940e+03,4.150832e-03,1.000000e+00
max,2.250735e+06,1.004249e+08,1.004310e+08,1.735297e+10,2.325000e+03,1.093000e+03,9.030000e+03,9.931400e+04,9.931200e+04,1.735297e+10,...,2.000000e+00,1.707719e+00,1.707719e+00,1.798441e+00,2.340783e+08,2.340783e+08,1.882458e+05,2.340783e+08,1.000000e+00,2.000000e+00

In [7]:
data[(data.product_=='PSHP')&(data.cty_code=='SG')]

,Unnamed: 0,cty_code,doc_id,supplier_id,buyer_id,doc_type_code,deal_id,fin_flag,rec_id,doc_date,...,fin_xrate,pymt_xrate,doc_xrate,doc_usd_amt,fin_usd_amt,os_usd_amt,pymt_usd_amt,dr,dr_bucket,product_
442941,4951,SG,J24DMWRPD8-3732,100005255,100019844.0,PO,TF540P0087,Y,17457749,2009-06-05,...,1.0,1.0,1.0,369000.0,369000.0,0.0,369000.0,0.000000,0,PSHP
442942,4952,SG,J24DMWRPD8-4451,100005255,100019844.0,PO,TF540P0088,Y,17458580,2009-06-05,...,1.0,1.0,1.0,80000.0,80000.0,0.0,80000.0,0.000000,0,PSHP
442943,4953,SG,J24DMWRPD8-5054,100005255,100020238.0,PO,TF540P0085,Y,17459606,2009-06-05,...,1.0,1.0,1.0,77000.0,77000.0,0.0,77000.0,0.000000,0,PSHP
442944,4954,SG,J24DMWRPD8-5776,100005255,100020238.0,PO,TF540P0086,Y,17461328,2009-06-05,...,1.0,1.0,1.0,29000.0,29000.0,0.0,29000.0,0.000000,0,PSHP
442945,4955,SG,K844PKZ9QP-37937,100005255,100019844.0,PO,TF540P0008,Y,12968059,2009-04-01,...,1.0,1.0,1.0,145000.0,145000.0,0.0,145000.0,0.000000,0,PSHP
442946,4956,SG,K844PKZ9QP-38605,100005255,100019844.0,PO,TF540P0009,Y,12969777,2009-04-01,...,1.0,1.0,1.0,18000.0,18000.0,0.0,18000.0,0.000000,0,PSHP
442947,4957,SG,KN45ZDRS33-75235,100005255,100019844.0,PO,TF540P0024,Y,13611410,2009-04-13,...,1.0,1.0,1.0,250000.0,250000.0,0.0,35000.0,0.860000,2,PSHP
442948,4958,SG,LV4843W7DP-21594,100005255,100019208.0,PO,TF540P0061,Y,15169660,2009-04-30,...,1.0,1.0,1.0,190000.0,190000.0,0.0,190000.0,0.000000,0,PSHP
442949,4959,SG,NF477ML311-26496,100005255,100019208.0,PO,TF540P0044,Y,14461895,2009-04-23,...,1.0,1.0,1.0,530000.0,530000.0,0.0,530000.0,0.000000,0,PSHP
442950,4960,SG,NF477ML311-65299,100005255,100019208.0,PO,TF540P0047,Y,14619530,2009-04-24,...,1.0,1.0,1.0,500000.0,500000.0,0.0,400000.0,0.200000,2,PSHP
442951,4961,SG,NF477ML311-66009,100005255,100019208.0,PO,TF540P0046,Y,14621768,2009-04-24,...,1.0,1.0,1.0,100000.0,100000.0,0.0,100000.0,0.000000,0,PSHP
442952,4962,SG,NF477ML311-66915,100005255,100019844.0,PO,TF540P0045,Y,14623448,2009-04-24,...,1.0,1.0,1.0,73000.0,73000.0,0.0,73000.0,0.000000,0,PSHP
442953,4963,SG,PQ42R4Q3P6-24661,100005255,100019208.0,PO,TF540P0003,Y,11802238,2008-06-11,...,1.0,1.0,1.0,206250.0,206000.0,0.0,48000.0,0.767273,2,PSHP
442954,4964,SG,PQ42R4Q3P6-25005,100005255,100019208.0,PO,TF540P0004,Y,11803303,2008-06-11,...,1.0,1.0,1.0,346500.0,346000.0,0.0,346000.0,0.001443,1,PSHP
442955,4965,SG,PQ42R4Q3P6-25256,100005255,100019208.0,PO,TF540P0005,Y,11803571,2008-06-11,...,1.0,1.0,1.0,95550.0,40000.0,0.0,40000.0,0.581371,2,PSHP
442956,4966,SG,WY46TDWT8L-92420,100005255,100019208.0,PO,TF540P0041,Y,14292786,2009-04-22,...,1.0,1.0,1.0,1050000.0,1050000.0,0.0,460000.0,0.561905,2,PSHP
442957,4967,SG,WY46TDWT8L-93731,100005255,100019844.0,PO,TF540P0039,Y,14296853,2009-04-22,...,1.0,1.0,1.0,494000.0,494000.0,0.0,194000.0,0.607287,2,PSHP
442958,4968,SG,WY46TDWT8L-95750,100005255,100019208.0,PO,TF540P0040,Y,14304002,2009-04-22,...,1.0,1.0,1.0,240000.0,240000.0,0.0,125000.0,0.479167,2,PSHP
442959,4969,SG,X8459SNFD8-23610,100005255,100019844.0,PO,TF540P0014,Y,13261563,2009-04-06,...,1.0,1.0,1.0,80000.0,80000.0,0.0,10000.0,0.875000,2,PSHP
442960,4970,SG,XP47NF1NB3-32460,100005255,100019208.0,PO,TF540P0048,Y,14795184,2009-04-27,...,1.0,1.0,1.0,287000.0,287000.0,0.0,287000.0,0.000000,0,PSHP
442961,4971,SG,XP47NF1NB3-34615,100005255,100019208.0,PO,TF540P0049,Y,14797983,2009-04-27,...,1.0,1.0,1.0,196000.0,196000.0,0.0,196000.0,0.000000,0,PSHP
442962,4972,SG,XP47NF1NB3-36067,100005255,100019208.0,PO,TF540P0050,Y,14799110,2009-04-27,...,1.0,1.0,1.0,185000.0,185000.0,0.0,185000.0,0.000000,0,PSHP
442963,4973,SG,XP47NF1NB3-36534,100005255,100019208.0,PO,TF540P0051,Y,14800080,2009-04-27,...,1.0,1.0,1.0,185000.0,185000.0,0.0,185000.0,0.000000,0,PSHP
442964,4974,SG,XP47NF1NB3-37082,100005255,100019208.0,PO,TF540P0052,Y,14800827,2009-04-27,...,1.0,1.0,1.0,247000.0,247000.0,0.0,247000.0,0.000000,0,PSHP
442965,4975,SG,XP47NF1NB3-38033,100005255,100019208.0,PO,TF540P0054,Y,14804430,2009-04-27,...,1.0,1.0,1.0,155000.0,155000.0,0.0,155000.0,0.000000,0,PSHP
442966,4976,SG,XP47NF1NB3-86485,100005255,100019208.0,PO,TF540P0059,Y,15034003,2009-04-29,...,1.0,1.0,1.0,1050000.0,1050000.0,0.0,370000.0,0.647619,2,PSHP
442967,4977,SG,XP47NF1NB3-86756,100005255,100019208.0,PO,TF540P0058,Y,15035229,2009-04-29,...,1.0,1.0,1.0,92000.0,92000.0,0.0,92000.0,0.000000,0,PSHP
442968,4978,SG,XP47NF1NB3-87437,100005255,100020238.0,PO,TF540P0060,Y,15037619,2009-04-29,...,1.0,1.0,1.0,56000.0,56000.0,0.0,56000.0,0.000000,0,PSHP

In [8]:
print(len(data))
data = data[(data.doc_type_code == 'INV')&(data.fin_flag == 'Y')]
print(len(data))

2703596
2278762

In [9]:
data[(data.product_=='PSHP')&(data.cty_code=='SG')]

Empty DataFrame
Columns: [Unnamed: 0, cty_code, doc_id, supplier_id, buyer_id, doc_type_code, deal_id, fin_flag, rec_id, doc_date, doc_ccy_code, doc_ccy_amt, tenor, tenor_start_date, due_date, grace_period, maturity_date, fin_tenor_start_date, fin_tenor, to_seq_no, from_seq_no, pymt_ccy_code, pymt_alloc_amt, fin_ccy_code, fin_ccy_cp_alloc_amt, fin_ccy_ncp_alloc_amt, fin_ccy_ncp_os_amt, fin_ccy_cp_os_amt, fin_ccy_amt, os_ccy_amt, fin_date, sale_ledger_flag, pool_based_flag, step_code, product_variant_code, rel_seq_no, pymt_date, settled_flag, late_days, finance_days, finance_due_days, isLate, late_days_bucket, fin_xrate, pymt_xrate, doc_xrate, doc_usd_amt, fin_usd_amt, os_usd_amt, pymt_usd_amt, dr, dr_bucket, product_]
Index: []

[0 rows x 53 columns]

In [13]:
data = data[data.columns[1:]]
print(data.columns)

Index([u'doc_id', u'supplier_id', u'buyer_id', u'doc_type_code', u'deal_id',
       u'fin_flag', u'rec_id', u'doc_date', u'doc_ccy_code', u'doc_ccy_amt',
       u'tenor', u'tenor_start_date', u'due_date', u'grace_period',
       u'maturity_date', u'fin_tenor_start_date', u'fin_tenor', u'to_seq_no',
       u'from_seq_no', u'pymt_ccy_code', u'pymt_alloc_amt', u'fin_ccy_code',
       u'fin_ccy_cp_alloc_amt', u'fin_ccy_ncp_alloc_amt',
       u'fin_ccy_ncp_os_amt', u'fin_ccy_cp_os_amt', u'fin_ccy_amt',
       u'os_ccy_amt', u'fin_date', u'sale_ledger_flag', u'pool_based_flag',
       u'step_code', u'product_variant_code', u'rel_seq_no', u'pymt_date',
       u'settled_flag', u'late_days', u'finance_days', u'finance_due_days',
       u'isLate', u'late_days_bucket', u'fin_xrate', u'pymt_xrate',
       u'doc_xrate', u'doc_usd_amt', u'fin_usd_amt', u'os_usd_amt',
       u'pymt_usd_amt', u'dr', u'dr_bucket', u'product_'],
      dtype='object')

In [12]:
data.to_csv(data_dir+ 'all_prod_180319.csv', index=False)

In [15]:
data['bucket_61'] = np.where(data.late_days>60,1,0)
data['bucket_31_60'] = np.where((30<data.late_days) & (data.late_days<=60),1,0)
data['bucket_1_30'] = np.where((0<data.late_days) & (data.late_days<=30),1,0)

data[['product_', 'bucket_61','bucket_31_60','bucket_1_30']].groupby('product_').agg('sum')

          bucket_61  bucket_31_60  bucket_1_30
product_
BATB              0             0            0
ECIF              0             0            0
ECPR              0             0            0
IFNB          10886          2111        10657
IFNS             32            45         1610
LBDS              0             0            3
LRRP              0             2           11
PSHP              0             0            0
RSRV           4940         21464      1228289
TRDS              0            68          958

In [16]:
data['yrmo'] = [x[:7] for x in data.doc_date]
data.groupby(['product_', 'yrmo']).agg({'doc_id':'count'})

                  doc_id
product_ yrmo
BATB     2015-03       1
         2015-11       1
         2015-12       1
         2016-05       1
         2016-06       2
         2016-10       3
ECIF     2012-10       1
         2012-11       2
         2012-12       2
         2013-01      14
         2013-02       9
         2013-03      15
         2013-04      15
         2013-05      10
         2013-06      12
         2013-07       9
         2013-08       7
         2013-09       5
         2013-10       2
         2013-11       4
         2013-12       5
         2014-01       4
         2014-02      12
         2014-03       7
         2014-04      10
         2014-05       9
         2014-06       7
         2014-10       5
         2014-11       3
         2014-12       2
...                  ...
RSRV     2017-02   30173
         2017-03   35024
         2017-04   28773
         2017-05   29597
         2017-06   30198
         2017-07   25678
         2017-08   23741
         2017-09   28513
         2017-10   25916
         2017-11   13604
         2017-12    7458
         2018-01     194
TRDS     2016-02       2
         2016-06       1
         2016-10       1
         2016-11       5
         2016-12      19
         2017-01       9
         2017-02      65
         2017-03      95
         2017-04     103
         2017-05     117
         2017-06     111
         2017-07     221
         2017-08     153
         2017-09     257
         2017-10     165
         2017-11     222
         2017-12      88
         2018-01       2

[500 rows x 1 columns]

In [17]:
data.groupby(['yrmo']).agg({'doc_id':'count'})

         doc_id
yrmo
2001-04       1
2007-01       2
2007-08       2
2007-09       2
2007-12       1
2008-01       4
2008-02       5
2008-03      70
2008-04     298
2008-05      75
2008-06     181
2008-07     467
2008-08     526
2008-09     944
2008-10    1778
2008-11    1274
2008-12    1043
2009-01     899
2009-02     803
2009-03    1074
2009-04    1755
2009-05    1926
2009-06    1416
2009-07    1307
2009-08     998
2009-09     861
2009-10     866
2009-11     992
2009-12    2074
2010-01    1936
...         ...
2015-08   40559
2015-09   49459
2015-10   34573
2015-11   43317
2015-12   47093
2016-01   34884
2016-02   35566
2016-03   50291
2016-04   33299
2016-05   42094
2016-06   45075
2016-07   39472
2016-08   45017
2016-09   46795
2016-10   35226
2016-11   64927
2016-12   47747
2017-01   37537
2017-02   41291
2017-03   45413
2017-04   31044
2017-05   43038
2017-06   34448
2017-07   31330
2017-08   28395
2017-09   30988
2017-10   28066
2017-11   15254
2017-12    8343
2018-01     272

[126 rows x 1 columns]