In [1]:
reset -fs

In [2]:
import pandas as pd
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
from collections import Counter
from time import time

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
#import csv
s = time()

data = pd.read_csv('/home/flowcast/data/python/data_180112/data_for_addtl_features_180212.csv')
print(len(data))
data.head()

530146

,index,Unnamed: 0,cty_code,doc_id,supplier_id,buyer_id,doc_type_code,deal_id,fin_flag,rec_id,doc_date,doc_ccy_code,doc_ccy_amt,tenor,tenor_start_date,due_date,grace_period,maturity_date,fin_tenor_start_date,fin_tenor,to_seq_no,from_seq_no,fin_ccy_code,fin_ccy_cp_alloc_amt,fin_ccy_ncp_alloc_amt,fin_ccy_ncp_os_amt,fin_ccy_cp_os_amt,fin_ccy_amt,os_ccy_amt,pymt_ccy_amt,dr,fin_date,sale_ledger_flag,pool_based_flag,step_code,product_variant_code,rel_seq_no,pymt_date,settled_flag,late_days,finance_days,finance_due_days,isLate,late_days_bucket,dr_bucket,fin_xrate,doc_xrate,doc_usd_amt,fin_usd_amt,os_usd_amt,pymt_usd_amt,product,bucket_61,bucket_31_60,bucket_1_30,client,doc_date_str,fin_rate,due_date_dow,maturity_date_dow,buyer_supplier,within_maturitydate_flag,rownum
0,365197,120387,ID,5X3GFVRZYK-24791,100000003,100000523.0,INV,ID901OF081000052,Y,1406314,2008-08-05,USD,528365.63,60,2008-08-05 00:00:00,2008-10-04,69,2008-12-12,2008-10-14 00:00:00,59.0,352.0,264,USD,0.0,528365.63,0.0,0.0,528365.63,0.0,528365.63,0.0,2008-10-14,Y,N,SETT,IFNB03,352.0,2008-12-09,Y,66,56,0,1,3,0,1.0,1.0,528365.63,528365.63,0.0,528365.63,IFNB,1,0,0,100000003.0,2008-08-05 00:00:00,0.0,5,4,100000523.0_100000003,1,0
1,365195,120385,ID,5X3GFVRZYK-20770,100000003,100000518.0,INV,ID901OF081000051,Y,1400805,2008-08-23,USD,250196.42,60,2008-08-23 00:00:00,2008-10-22,51,2008-12-12,2008-10-14 00:00:00,59.0,339.0,247,USD,0.0,250196.42,0.0,0.0,250196.42,0.0,250196.42,0.0,2008-10-14,Y,N,SETT,IFNB03,339.0,2008-12-12,Y,51,59,8,1,2,0,1.0,1.0,250196.42,250196.42,0.0,250196.42,IFNB,0,1,0,100000003.0,2008-08-23 00:00:00,0.0,2,4,100000518.0_100000003,1,1
2,365196,120386,ID,5X3GFVRZYK-23226,100000003,100000516.0,INV,ID901OF081000050,Y,1403944,2008-08-23,USD,1004628.28,60,2008-08-23 00:00:00,2008-10-22,51,2008-12-12,2008-10-14 00:00:00,59.0,360.0,265,USD,0.0,1004628.28,0.0,0.0,1004628.28,0.0,1004628.28,0.0,2008-10-14,Y,N,SETT,IFNB03,360.0,2008-12-12,Y,51,59,8,1,2,0,1.0,1.0,1004628.28,1004628.28,0.0,1004628.28,IFNB,0,1,0,100000003.0,2008-08-23 00:00:00,0.0,2,4,100000516.0_100000003,1,2
3,387064,142254,ID,FH3H961P2F-7803,100000003,100000519.0,INV,ID901OF081000036,Y,1561829,2008-08-23,USD,1602562.85,60,2008-08-23 00:00:00,2008-10-22,58,2008-12-19,2008-10-20 00:00:00,60.0,348.0,252,USD,0.0,1602562.85,0.0,0.0,1602562.85,0.0,1602562.85,0.0,2008-10-20,Y,N,SETT,IFNB03,348.0,2008-12-19,Y,58,60,2,1,2,0,1.0,1.0,1602562.85,1602562.85,0.0,1602562.85,IFNB,0,1,0,100000003.0,2008-08-23 00:00:00,0.0,2,4,100000519.0_100000003,1,3
4,421843,177033,ID,RZ3KHMF6D7-42036,100000003,100000518.0,INV,ID901OF081000051,Y,2336080,2008-08-27,USD,111444.45,60,2008-08-27 00:00:00,2008-10-26,78,2009-01-12,2008-11-13 00:00:00,60.0,376.0,295,USD,0.0,111444.45,0.0,0.0,111444.45,0.0,111444.45,0.0,2008-11-13,Y,N,SETT,IFNB03,376.0,2009-01-12,Y,78,60,0,1,3,0,1.0,1.0,111444.45,111444.45,0.0,111444.45,IFNB,1,0,0,100000003.0,2008-08-27 00:00:00,0.0,6,0,100000518.0_100000003,1,4

In [6]:
data.drop(['Unnamed: 0', 'index'], axis =1, inplace=True)
data.rename(columns={'product':'product_'}, inplace = True)
data.head()

,cty_code,doc_id,supplier_id,buyer_id,doc_type_code,deal_id,fin_flag,rec_id,doc_date,doc_ccy_code,doc_ccy_amt,tenor,tenor_start_date,due_date,grace_period,maturity_date,fin_tenor_start_date,fin_tenor,to_seq_no,from_seq_no,fin_ccy_code,fin_ccy_cp_alloc_amt,fin_ccy_ncp_alloc_amt,fin_ccy_ncp_os_amt,fin_ccy_cp_os_amt,fin_ccy_amt,os_ccy_amt,pymt_ccy_amt,dr,fin_date,sale_ledger_flag,pool_based_flag,step_code,product_variant_code,rel_seq_no,pymt_date,settled_flag,late_days,finance_days,finance_due_days,isLate,late_days_bucket,dr_bucket,fin_xrate,doc_xrate,doc_usd_amt,fin_usd_amt,os_usd_amt,pymt_usd_amt,product_,bucket_61,bucket_31_60,bucket_1_30,client,doc_date_str,fin_rate,due_date_dow,maturity_date_dow,buyer_supplier,within_maturitydate_flag,rownum
0,ID,5X3GFVRZYK-24791,100000003,100000523.0,INV,ID901OF081000052,Y,1406314,2008-08-05,USD,528365.63,60,2008-08-05 00:00:00,2008-10-04,69,2008-12-12,2008-10-14 00:00:00,59.0,352.0,264,USD,0.0,528365.63,0.0,0.0,528365.63,0.0,528365.63,0.0,2008-10-14,Y,N,SETT,IFNB03,352.0,2008-12-09,Y,66,56,0,1,3,0,1.0,1.0,528365.63,528365.63,0.0,528365.63,IFNB,1,0,0,100000003.0,2008-08-05 00:00:00,0.0,5,4,100000523.0_100000003,1,0
1,ID,5X3GFVRZYK-20770,100000003,100000518.0,INV,ID901OF081000051,Y,1400805,2008-08-23,USD,250196.42,60,2008-08-23 00:00:00,2008-10-22,51,2008-12-12,2008-10-14 00:00:00,59.0,339.0,247,USD,0.0,250196.42,0.0,0.0,250196.42,0.0,250196.42,0.0,2008-10-14,Y,N,SETT,IFNB03,339.0,2008-12-12,Y,51,59,8,1,2,0,1.0,1.0,250196.42,250196.42,0.0,250196.42,IFNB,0,1,0,100000003.0,2008-08-23 00:00:00,0.0,2,4,100000518.0_100000003,1,1
2,ID,5X3GFVRZYK-23226,100000003,100000516.0,INV,ID901OF081000050,Y,1403944,2008-08-23,USD,1004628.28,60,2008-08-23 00:00:00,2008-10-22,51,2008-12-12,2008-10-14 00:00:00,59.0,360.0,265,USD,0.0,1004628.28,0.0,0.0,1004628.28,0.0,1004628.28,0.0,2008-10-14,Y,N,SETT,IFNB03,360.0,2008-12-12,Y,51,59,8,1,2,0,1.0,1.0,1004628.28,1004628.28,0.0,1004628.28,IFNB,0,1,0,100000003.0,2008-08-23 00:00:00,0.0,2,4,100000516.0_100000003,1,2
3,ID,FH3H961P2F-7803,100000003,100000519.0,INV,ID901OF081000036,Y,1561829,2008-08-23,USD,1602562.85,60,2008-08-23 00:00:00,2008-10-22,58,2008-12-19,2008-10-20 00:00:00,60.0,348.0,252,USD,0.0,1602562.85,0.0,0.0,1602562.85,0.0,1602562.85,0.0,2008-10-20,Y,N,SETT,IFNB03,348.0,2008-12-19,Y,58,60,2,1,2,0,1.0,1.0,1602562.85,1602562.85,0.0,1602562.85,IFNB,0,1,0,100000003.0,2008-08-23 00:00:00,0.0,2,4,100000519.0_100000003,1,3
4,ID,RZ3KHMF6D7-42036,100000003,100000518.0,INV,ID901OF081000051,Y,2336080,2008-08-27,USD,111444.45,60,2008-08-27 00:00:00,2008-10-26,78,2009-01-12,2008-11-13 00:00:00,60.0,376.0,295,USD,0.0,111444.45,0.0,0.0,111444.45,0.0,111444.45,0.0,2008-11-13,Y,N,SETT,IFNB03,376.0,2009-01-12,Y,78,60,0,1,3,0,1.0,1.0,111444.45,111444.45,0.0,111444.45,IFNB,1,0,0,100000003.0,2008-08-27 00:00:00,0.0,6,0,100000518.0_100000003,1,4

### include new valid data

In [7]:
data_dir = '/home/flowcast/data/python/data_validate_180315/'
data_new = pd.read_csv(data_dir+ 'all_prod_180319.csv')

/data/flowcast/data/software/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
data_new_validate = data_new[data_new.doc_date>='2017-03-01']
data_new_validate.to_csv(data_dir+'all_prod_validate_180319.csv', index = False)
len(data_new_validate)

296591

In [9]:
data['calculate_additional_features_flag'] = 'N'
data_new_validate['calculate_additional_features_flag'] = 'Y'

data_prev = data

/data/flowcast/data/software/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
common_columns = [x for x in data_new_validate.columns if x in data_prev.columns]
data_old = data[common_columns]
data = data_old.append(data_new_validate)
print(len(data_prev), len(data_old), len(data_new_validate), len(data))

(530146, 530146, 296591, 826737)

In [11]:
data.head()

,buyer_id,calculate_additional_features_flag,cty_code,deal_id,doc_ccy_amt,doc_ccy_code,doc_date,doc_id,doc_type_code,doc_usd_amt,doc_xrate,dr,dr_bucket,due_date,fin_ccy_amt,fin_ccy_code,fin_ccy_cp_alloc_amt,fin_ccy_cp_os_amt,fin_ccy_ncp_alloc_amt,fin_ccy_ncp_os_amt,fin_date,fin_flag,fin_tenor,fin_tenor_start_date,fin_usd_amt,fin_xrate,finance_days,finance_due_days,from_seq_no,grace_period,isLate,late_days,late_days_bucket,maturity_date,os_ccy_amt,os_usd_amt,pool_based_flag,product_,product_variant_code,pymt_alloc_amt,pymt_ccy_code,pymt_date,pymt_usd_amt,pymt_xrate,rec_id,rel_seq_no,sale_ledger_flag,settled_flag,step_code,supplier_id,tenor,tenor_start_date,to_seq_no
0,100000523.0,N,ID,ID901OF081000052,528365.63,USD,2008-08-05,5X3GFVRZYK-24791,INV,528365.63,1.0,0.0,0,2008-10-04,528365.63,USD,0.0,0.0,528365.63,0.0,2008-10-14,Y,59.0,2008-10-14 00:00:00,528365.63,1.0,56,0,264,69,1,66,3,2008-12-12,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2008-12-09,528365.63,NaN,1406314,352.0,Y,Y,SETT,100000003,60,2008-08-05 00:00:00,352.0
1,100000518.0,N,ID,ID901OF081000051,250196.42,USD,2008-08-23,5X3GFVRZYK-20770,INV,250196.42,1.0,0.0,0,2008-10-22,250196.42,USD,0.0,0.0,250196.42,0.0,2008-10-14,Y,59.0,2008-10-14 00:00:00,250196.42,1.0,59,8,247,51,1,51,2,2008-12-12,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2008-12-12,250196.42,NaN,1400805,339.0,Y,Y,SETT,100000003,60,2008-08-23 00:00:00,339.0
2,100000516.0,N,ID,ID901OF081000050,1004628.28,USD,2008-08-23,5X3GFVRZYK-23226,INV,1004628.28,1.0,0.0,0,2008-10-22,1004628.28,USD,0.0,0.0,1004628.28,0.0,2008-10-14,Y,59.0,2008-10-14 00:00:00,1004628.28,1.0,59,8,265,51,1,51,2,2008-12-12,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2008-12-12,1004628.28,NaN,1403944,360.0,Y,Y,SETT,100000003,60,2008-08-23 00:00:00,360.0
3,100000519.0,N,ID,ID901OF081000036,1602562.85,USD,2008-08-23,FH3H961P2F-7803,INV,1602562.85,1.0,0.0,0,2008-10-22,1602562.85,USD,0.0,0.0,1602562.85,0.0,2008-10-20,Y,60.0,2008-10-20 00:00:00,1602562.85,1.0,60,2,252,58,1,58,2,2008-12-19,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2008-12-19,1602562.85,NaN,1561829,348.0,Y,Y,SETT,100000003,60,2008-08-23 00:00:00,348.0
4,100000518.0,N,ID,ID901OF081000051,111444.45,USD,2008-08-27,RZ3KHMF6D7-42036,INV,111444.45,1.0,0.0,0,2008-10-26,111444.45,USD,0.0,0.0,111444.45,0.0,2008-11-13,Y,60.0,2008-11-13 00:00:00,111444.45,1.0,60,0,295,78,1,78,3,2009-01-12,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2009-01-12,111444.45,NaN,2336080,376.0,Y,Y,SETT,100000003,60,2008-08-27 00:00:00,376.0

In [12]:
data['doc_date'] = [pd.to_datetime(x) for x in data.doc_date]
data.head()

,buyer_id,calculate_additional_features_flag,cty_code,deal_id,doc_ccy_amt,doc_ccy_code,doc_date,doc_id,doc_type_code,doc_usd_amt,doc_xrate,dr,dr_bucket,due_date,fin_ccy_amt,fin_ccy_code,fin_ccy_cp_alloc_amt,fin_ccy_cp_os_amt,fin_ccy_ncp_alloc_amt,fin_ccy_ncp_os_amt,fin_date,fin_flag,fin_tenor,fin_tenor_start_date,fin_usd_amt,fin_xrate,finance_days,finance_due_days,from_seq_no,grace_period,isLate,late_days,late_days_bucket,maturity_date,os_ccy_amt,os_usd_amt,pool_based_flag,product_,product_variant_code,pymt_alloc_amt,pymt_ccy_code,pymt_date,pymt_usd_amt,pymt_xrate,rec_id,rel_seq_no,sale_ledger_flag,settled_flag,step_code,supplier_id,tenor,tenor_start_date,to_seq_no
0,100000523.0,N,ID,ID901OF081000052,528365.63,USD,2008-08-05,5X3GFVRZYK-24791,INV,528365.63,1.0,0.0,0,2008-10-04,528365.63,USD,0.0,0.0,528365.63,0.0,2008-10-14,Y,59.0,2008-10-14 00:00:00,528365.63,1.0,56,0,264,69,1,66,3,2008-12-12,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2008-12-09,528365.63,NaN,1406314,352.0,Y,Y,SETT,100000003,60,2008-08-05 00:00:00,352.0
1,100000518.0,N,ID,ID901OF081000051,250196.42,USD,2008-08-23,5X3GFVRZYK-20770,INV,250196.42,1.0,0.0,0,2008-10-22,250196.42,USD,0.0,0.0,250196.42,0.0,2008-10-14,Y,59.0,2008-10-14 00:00:00,250196.42,1.0,59,8,247,51,1,51,2,2008-12-12,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2008-12-12,250196.42,NaN,1400805,339.0,Y,Y,SETT,100000003,60,2008-08-23 00:00:00,339.0
2,100000516.0,N,ID,ID901OF081000050,1004628.28,USD,2008-08-23,5X3GFVRZYK-23226,INV,1004628.28,1.0,0.0,0,2008-10-22,1004628.28,USD,0.0,0.0,1004628.28,0.0,2008-10-14,Y,59.0,2008-10-14 00:00:00,1004628.28,1.0,59,8,265,51,1,51,2,2008-12-12,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2008-12-12,1004628.28,NaN,1403944,360.0,Y,Y,SETT,100000003,60,2008-08-23 00:00:00,360.0
3,100000519.0,N,ID,ID901OF081000036,1602562.85,USD,2008-08-23,FH3H961P2F-7803,INV,1602562.85,1.0,0.0,0,2008-10-22,1602562.85,USD,0.0,0.0,1602562.85,0.0,2008-10-20,Y,60.0,2008-10-20 00:00:00,1602562.85,1.0,60,2,252,58,1,58,2,2008-12-19,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2008-12-19,1602562.85,NaN,1561829,348.0,Y,Y,SETT,100000003,60,2008-08-23 00:00:00,348.0
4,100000518.0,N,ID,ID901OF081000051,111444.45,USD,2008-08-27,RZ3KHMF6D7-42036,INV,111444.45,1.0,0.0,0,2008-10-26,111444.45,USD,0.0,0.0,111444.45,0.0,2008-11-13,Y,60.0,2008-11-13 00:00:00,111444.45,1.0,60,0,295,78,1,78,3,2009-01-12,0.0,0.0,N,IFNB,IFNB03,NaN,NaN,2009-01-12,111444.45,NaN,2336080,376.0,Y,Y,SETT,100000003,60,2008-08-27 00:00:00,376.0

In [16]:
data['client'] = np.where(data.product_.isin(['BATB','IFNB']), data.buyer_id, data.supplier_id)

### FOR LONG RUN (10hrs)

In [ ]:
s=time()
data=data.sort_values(by=['client', 'doc_date'])
data.reset_index(drop=True, inplace=True)
data['rownum']=data.index
clients = list(pd.unique(data.client))
# data.head()
sort_time = (time()-s)/60
print("sort time:", sort_time)

print(len(clients))

s=time()

clients_sample = clients[:20]

client_features = []

# for client in clients_sample:
for client in clients:
    client_ = data[data.client==client]
    print(client)
    
    for i in range(min(client_.rownum), max(client_.rownum)):
        if client_.calculate_additional_features_flag[i] == 'N':
            continue
        else:
#         print(i)
            yesterday = client_.doc_date[i] - pd.DateOffset(days = 1)
            client_sub = client_[(client_.doc_date<=yesterday)]
    #         print(len(client_sub))
            try:
                client_yrs = (max(client_sub.doc_date) - min(client_sub.doc_date)).year +1
            except:
                client_yrs = 1
            client_past_inv_cnt = len(client_sub)
            client_annual_inv_cnt = client_past_inv_cnt*1./client_yrs*1.
            client_ave_fin_amt = np.mean(client_sub.fin_usd_amt)
            client_ave_annual_fin_amt = np.sum(client_sub.fin_usd_amt) / client_yrs*1.
            client_std_fin_amt = np.std(client_sub.fin_usd_amt)
            client_late_days = np.mean(client_sub.late_days)
            client_isLate = np.mean(client_sub.isLate)
            client_dr = np.mean(client_sub.dr)
            client_term = np.mean(client_sub.fin_tenor)
            client_cty = len(pd.unique(client_sub.cty_code))

    #         print(client_past_inv_cnt)
            prev_yr = str(client_.doc_date[i] - pd.DateOffset(years = 1))
            client_prevyr_sub = client_sub[
        #         (data.doc_date < data.doc_date[i]) 
                (client_sub.rownum < i) 
                &(client_sub.doc_date >=prev_yr)
        #         & (data.client == data.client[i] )
                ]
            client_prevyr_inv_cnt = len(client_prevyr_sub)
            client_prevyr_ave_fin_amt = np.mean(client_prevyr_sub.fin_usd_amt)
            client_season = client_.fin_usd_amt[i]/client_prevyr_ave_fin_amt
            client_prevyr_std_fin_amt = np.std(client_prevyr_sub.fin_usd_amt)
            client_prevyr_late_days = np.mean(client_prevyr_sub.late_days)
            client_prevyr_isLate = np.mean(client_prevyr_sub.isLate)
            client_prevyr_dr = np.mean(client_prevyr_sub.dr)
            client_prevyr_term = np.mean(client_prevyr_sub.fin_tenor)
        #     client_prevyr_cty = len(pd.unique(client_prevyr_sub.cty_code))


            prev_6m = str(client_.doc_date[i] - pd.DateOffset(months = 6))
            client_6m_sub = client_prevyr_sub[
        #         (data.doc_date < data.doc_date[i]) 
                (client_prevyr_sub.rownum < i) 
                &(client_prevyr_sub.doc_date >= prev_6m)
        #         & (data.client == data.client[i] )
                ]

            client_6m_inv_cnt = len(client_6m_sub)
            client_6m_ave_fin_amt = np.mean(client_6m_sub.fin_usd_amt)
            client_6m_std_fin_amt = np.std(client_6m_sub.fin_usd_amt)
            client_6m_dr = np.mean(client_6m_sub.dr)
            client_6m_term = np.mean(client_6m_sub.fin_tenor)
        #     client_6m_cty = len(pd.unique(client_6m_sub.cty_code))
            client_6m_late_days = np.mean(client_6m_sub.late_days)
            client_6m_isLate = np.mean(client_6m_sub.isLate)

            prev_3m = str(client_.doc_date[i] - pd.DateOffset(months = 3))
            client_3m_sub = client_prevyr_sub[
        #         (data.doc_date < data.doc_date[i]) 
                (client_prevyr_sub.rownum < i) 
                &(client_prevyr_sub.doc_date >= prev_3m)
        #         & (data.client == data.client[i] )
                ]

            client_3m_inv_cnt = len(client_3m_sub)
            client_3m_ave_fin_amt = np.mean(client_3m_sub.fin_usd_amt)
            client_3m_std_fin_amt = np.std(client_3m_sub.fin_usd_amt)
            client_3m_dr = np.mean(client_3m_sub.dr)
            client_3m_term = np.mean(client_3m_sub.fin_tenor)
        #     client_3m_cty = len(pd.unique(client_6m_sub.cty_code))
            client_3m_late_days = np.mean(client_3m_sub.late_days)
            client_3m_isLate = np.mean(client_3m_sub.isLate)

            client_features.append([i,data.doc_id[i], client_yrs, client_past_inv_cnt, client_annual_inv_cnt, client_ave_fin_amt, 
                                client_ave_annual_fin_amt, client_std_fin_amt, client_late_days, client_isLate, client_dr, 
                                client_term, client_cty, client_prevyr_inv_cnt, 
                                client_prevyr_ave_fin_amt, client_prevyr_std_fin_amt, client_prevyr_late_days, 
                                client_prevyr_isLate, client_prevyr_dr, client_prevyr_term,  
                                client_6m_inv_cnt, 
                                client_6m_ave_fin_amt, client_6m_std_fin_amt, client_6m_dr, client_6m_term, 
                                client_6m_late_days, client_6m_isLate, 
                                client_3m_inv_cnt, client_3m_ave_fin_amt, client_3m_std_fin_amt, client_3m_dr, 
                                client_3m_term, client_3m_late_days, client_3m_isLate, client_season
                                ])
    #         print("cf len:",len(client_features))

    #     print(i,(time()-s)/60)

client_features = pd.DataFrame(client_features, columns=['rownum','doc_id','client_yrs', 'client_past_inv_cnt', 
                                                     'client_annual_inv_cnt', 'client_ave_fin_amt', 
                        'client_ave_annual_fin_amt', 'client_std_fin_amt', 'client_late_days', 'client_isLate', 
                                                     'client_dr', 
                        'client_term', 'client_cty', 'client_prevyr_inv_cnt', 
                        'client_prevyr_ave_fin_amt', 'client_prevyr_std_fin_amt', 'client_prevyr_late_days', 
                        'client_prevyr_isLate', 'client_prevyr_dr', 'client_prevyr_term', 
                        'client_6m_inv_cnt', 
                        'client_6m_ave_fin_amt', 'client_6m_std_fin_amt', 'client_6m_dr', 'client_6m_term', 
                        'client_6m_late_days', 'client_6m_isLate', 
                        'client_3m_inv_cnt', 'client_3m_ave_fin_amt', 'client_3m_std_fin_amt', 'client_3m_dr', 
                        'client_3m_term', 'client_3m_late_days', 'client_3m_isLate','client_season'])
                      
# client_features.to_csv('/home/ec2-user/SCB_CODE/cam_code/data_180112/add_features_client_180113.csv')
e =time()


print('time:',(e-s)/60)
print('rowcount:',len(client_features))


client_all = client_features[['rownum','doc_id','client_yrs', 'client_past_inv_cnt', 
                                                     'client_annual_inv_cnt', 'client_ave_fin_amt', 
                        'client_ave_annual_fin_amt', 'client_std_fin_amt', 'client_late_days', 'client_isLate', 
                                                     'client_dr', 
                        'client_term', 'client_cty']]
client_prevyr = client_features[['rownum','doc_id','client_prevyr_inv_cnt', 
                        'client_prevyr_ave_fin_amt', 'client_prevyr_std_fin_amt', 'client_prevyr_late_days', 
                        'client_prevyr_isLate', 'client_prevyr_dr', 'client_prevyr_term', 'client_season'
                        ]]
client_6m = client_features[['rownum','doc_id','client_6m_inv_cnt', 
                        'client_6m_ave_fin_amt', 'client_6m_std_fin_amt', 'client_6m_dr', 'client_6m_term', 
                        'client_6m_late_days', 'client_6m_isLate']]
client_3m = client_features[['rownum','doc_id','client_3m_inv_cnt', 'client_3m_ave_fin_amt', 'client_3m_std_fin_amt', 'client_3m_dr', 
                        'client_3m_term', 'client_3m_late_days', 'client_3m_isLate','client_season']]


client_all.to_csv(data_dir+'client_all.csv', index = False)
client_prevyr.to_csv(data_dir+'client_prevyr.csv', index = False)
client_6m.to_csv(data_dir+'client_6m.csv', index = False)
client_3m.to_csv(data_dir+'client_3m.csv', index = False)

('sort time:', 0.009250068664550781)
1264
100000002.0
100000013.0
100000014.0
100000015.0
100000018.0
100000022.0
100000512.0

In [ ]:
client_features.tail()